<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:task="http://www.springframework.org/schema/task" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd 
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.1.xsd
	http://www.springframework.org/schema/task 
	http://www.springframework.org/schema/task/spring-task.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd" 
	xmlns:tx="http://www.springframework.org/schema/tx">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url"
			value="jdbc:mysql://localhost:3306/idcms">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	</bean>

	<bean id="dataSourceAttack"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url"
			value="jdbc:mysql://localhost:3306/firewall">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
	</bean>
	
	<bean id="dataSourcePostgres" class="org.apache.commons.dbcp.BasicDataSource" >
        <property name="url" value="jdbc:postgresql://localhost:5432/postgres"></property>
        <property name="driverClassName" value="org.postgresql.Driver"></property>
        <property name="username" value="postgres"></property>
        <property name="password" value="123456"></property>
    </bean>

	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<!-- 显示sql语句 -->
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		
		<property name="mappingResources">
			<list>
				<value>com/wt/po/Sbsylxb.hbm.xml</value>
				<value>com/wt/po/Cqb.hbm.xml</value>
				<value>com/wt/po/Jgb.hbm.xml</value>
				<value>com/wt/po/Jfb.hbm.xml</value>
				<value>com/wt/po/Sbxxb.hbm.xml</value>
				<value>com/wt/po/Sbztb.hbm.xml</value>
				<value>com/wt/po/Khxxb.hbm.xml</value>
				<value>com/wt/po/Sblxb.hbm.xml</value>
				<value>com/wt/po/Jhjdkzyb.hbm.xml</value>
			</list>
		</property>
	</bean>

	<bean id="sessionFactoryAttack"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSourceAttack" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<!-- 显示sql语句 -->
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		
		<property name="mappingResources">
			<list>
				<value>com/wt/po/Attackinfoes.hbm.xml</value>
			</list>
		</property>
	</bean>

	<bean id="sessionFactoryPostgres"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSourcePostgres" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.PostgreSQLDialect
				</prop>
				<!-- 显示sql语句 -->
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		
		<property name="mappingResources">
			<list>
				<value>com/wt/po/Dataflow.hbm.xml</value>
				<value>com/wt/po/TblSwitchsnmp.hbm.xml</value>
			</list>
		</property>
	</bean>


	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="transactionManagerAttack"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactoryAttack" />
	</bean>
	
	<bean id="transactionManagerPostgres"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactoryPostgres" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<tx:annotation-driven transaction-manager="transactionManagerAttack" />

	<tx:annotation-driven transaction-manager="transactionManagerPostgres" />
	
	
	<bean
		id="SbsylxbDAO" class="com.wt.po.SbsylxbDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CqbDAO" class="com.wt.po.CqbDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="JgbDAO" class="com.wt.po.JgbDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="JfbDAO" class="com.wt.po.JfbDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="SbxxbDAO" class="com.wt.po.SbxxbDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="SbztbDAO" class="com.wt.po.SbztbDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="KhxxbDAO" class="com.wt.po.KhxxbDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="SblxbDAO" class="com.wt.po.SblxbDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<bean id="JhjdkzybDAO" class="com.wt.po.JhjdkzybDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="AttackinfoesDAO" class="com.wt.po.AttackinfoesDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactoryAttack" />
		</property>
	</bean>
	
	<bean id="DataflowDAO" class="com.wt.po.DataflowDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactoryPostgres" />
		</property>
	</bean>
	<bean id="TblSwitchsnmpDAO" class="com.wt.po.TblSwitchsnmpDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactoryPostgres" />
		</property>
	</bean></beans>
	
	
